<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%= homePContent %></p>

<section>
  <% posts.forEach(function(post){ %>
    <article class="">
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
      <% }); %>
    </article>
</section>


<%- include("partials/footer"); -%>
